@font-face {
  font-family: 'SamsungOne';
  src: url('./SamsungOne-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SamsungOne';
  src: url('./SamsungOne-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
